<div class="container mt-5">         <!--text-centerで文字の中央揃え、d-flexでブロック要素に変換、align-items-centerで上下中央寄せ、justify-content-centerで左右中央寄せ-->
    <div class="background-image text-center d-flex align-items-center justify-content-center mt-5">
        <h5>
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。<br>
        </h5>
    </div>

    <h3 class="mt-5 mr-5"><strong>新着商品</strong></h3>
        <div class="col-xs-9 col-xs-offset-1">
            <div class="item-content">
                <% @items.last(4).each do |item| %>
                    <div class="col-xs-3 mr-5" style="display: inline-block;">
                        <%= link_to item_path(item.id), style: "color: black;", data: {"tubolinks" => false} do %>
                            <%= image_tag item.get_image(200,200) %><br>
                            <%= item.name %><br>
                            ￥<%= item.tax_in_price.round.to_s(:delimited, delimiter: ',') %> <!-- 数字を3桁で区切る -->
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>

        <!-- pull-rightはBootstrapで右寄せ -->
        <h4><%= link_to "全ての商品を見る", items_path, class: "pull-right" %></h4>
</div>