<div class="container">
  <h3 class="my-5 text-center">注文履歴詳細</h3>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-borderless">
        <thead>
          <tr><th>購入者</th><td><%= @order.customer.full_name %></td></tr>
          <tr><th>注文日</th><td><%= l @order.created_at %></td></tr>
          <tr><th>配送先</th><td>〒<%= @order.postal_code + " " + @order.address %></td></tr>
          <tr><th>支払方法</th><td><%= @order.method_of_payment_i18n %></td></tr>
          <tr>
            <th>注文ステータス</th>
              <td>
                <%= form_with model: @order, url: admin_order_path, local: true do |f| %>
                <%= f.select :status, {'入金待ち': 'waiting_for_payment', '入金確認': 'payment_confirmation', '制作中': 'under_construction', '発送準備中': 'preparing_to_ship', '発送完了': 'sent'}, class: "update_status" %>
                <%= f.submit "更新", class: "btn btn-success" %>
                <% end %>
              </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="table table-hover table-bordered">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><p><%= order_detail.item.name %></p></td>
            <td><p><%= order_detail.item.tax_in_price.round.to_s(:delimited) %></p></td>
            <td><p><%= order_detail.quantity %></p></td>
            <td><p><%= order_detail.sum_of_price.round.to_s(:delimited) %></p></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_order_detail_path(order_id: @order.id, id: order_detail.id), local: true do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
              <%= f.submit "更新", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col-md-3 offset-1">
    <table class="table table-borderless">
      <tr>
        <th><strong>商品合計</strong></th>
        <td class="text-right col-xs-5"><%= (@order.total_amount_billed - @order.postage).to_s(:delimited) %>円</td>
      </tr>

      <tr>
        <th><strong>送料</strong></th>
        <td class="text-right col-xs-5"><%= @order.postage.to_s(:delimited) %>円</td>
      </tr>

      <tr>
        <th><strong>請求合計金額</strong></th>
        <td class="text-right col-xs-5"><%= @order.total_amount_billed.to_s(:delimited) %>円</td>
      </tr>
    </table>
    </div>
  </div>
</div>