<div class="container my-5">
<h3>新規会員登録</h3>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="field col-lg-3 ">
      <%= f.label :"名前", class: "form-label col-lg-3 rounded-3" %>
      <%= f.text_field :last_name,autoforcus: true, placeholder: "令和" %>
    </div>

    <div class="field col-lg-3">
      <%= f.text_field :first_name,autoforcus: true, placeholder: "道子" %>
    </div>
  </div><br>

  <div class="row">
    <div class="field col-lg-3">
      <%= f.label :"フリガナ", class: "form-label mt-3" %>
      <%= f.text_field :last_name_kana,autoforcus: true, placeholder: "レイワ" %>
    </div>

    <div class="field mt-3">
      <%= f.text_field :first_name_kana,autoforcus: true, placeholder: "ミチコ" %>
    </div>
  </div><br>

  <div class="row">
    <div class="field mt-3">
      <%= f.label :"メールアドレス", class: "form-label mt-3" %>
      <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com" %>
    </div>
  </div><br>

  <div class="row">
    <div class="field mt-3">
      <%= f.label :"郵便番号(ハイフンなし)", class: "form-label mt-3" %>
      <%= f.text_field :postal_code, autoforcus: true, placeholder: "0000000" %>
    </div>
  </div>

  <div class="row">
    <div class="field mt-3">
      <%= f.label :"住所", class: "form-label mt-3" %>
      <%= f.text_field :address, autoforcus: true, placeholder: "東京都渋谷区代々木神園町0-0" %>
    </div>
  </div>

  <div class="row">
    <div class="field mt-3">
      <%= f.label :"電話番号(ハイフンなし)", class: "form-label mt-3" %>
      <%= f.text_field :telephone_number, autoforcus: true, placeholder: "0000000" %>
    </div>
  </div>

  <div class="row">
    <div class="field mt-3">
      <%= f.label :"パスワード(6文字以上)", class: "form-label mt-3" %>
      <%= f.password_field :password, autoforcus: true %>
    </div>
  </div>

  <div class="row">
    <div class="field mt-3">
      <%= f.label :"パスワード(確認用)", class: "form-label mt-3" %>
      <%= f.password_field :password_confirmation, autoforcus: true %>
    </div>
  </div>

  <div class="sign-up">
    <%= f.submit "新規登録", class: "btn btn-success col-lg-3" %>
  </div>
  <% end %>

  <div>
    <h6>会員登録がお済の方</h6>
    <p><%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>
  </div>
</div>
