<h4>注文情報確認</h4><tr>
  <table>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
    <% total = 0 %>
      <% @cart_items.each do |cart_item| %>
       <tr>
         <td>                       #保存先インスタンス名, 保存先カラム名, size:幅x高さ, fallback"代替画像"
           <%= attachment_image_tag(cart_item.item, :image, :size "60x50", fallback: "no_image.jpg") %>
           <%= cart_item.item.name %>
         </td>
         
         <td><%= (cart_item.item.price*1.1).to_i %></td>
         
         <td><%= cart_item.quantity %></td>
         
         <td>
             <% subtotal = ((cart_item.item.price*cart_item.quantity)*1.1).to_i %> <!--小計の計算-->
             <%= subtotal %>#小計を表示
         </td>
       </tr>
       <% total += (cart_item.item.price*cart_item.quantity)*1.1 %> #アイテムごとに合計金額に加算
     <% end %>
  </table>
  
  <table>
    <tr>
      <th>送料</th>
        <% @order_postage = 800 %> #@order_postage に送料800円を代入
      <td><%= @order_postage %></td>
    </tr>
    
    <tr>
      <th>商品合計</th>
      <td><%= total.to_i %></td>
    </tr>
    
    <tr>
      <th>請求金額</th>
        <% @order.total_payment = @order.postage + total.to_i %>
      <td><%= @order.total_payment %></td>
    </tr>
  </table>
  
  <th>支払い方法</th>
  <td><%= @order.payment_method %></td>
 </tr>
 <tr>
   <th>お届け先</th>
   <td>
    <%= @order.post_code %> #郵便番号
    <%= @order.address %>　 #住所
    <%= @order.name %>      #名前
   </td>
  