<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d2b76896b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <% if admin_signed_in? %>
          <%= link_to "NaganoCAKE", admin_root_path, class:"header-title navber-brand" %>
        <% else %>
          <%= link_to "NaganoCAKE", root_path, class: "header-title navbar-brand" %>
        <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <% if customer_signed_in? %>
                <li class="nav-item-activ">
                  <span class="nav-link text-dark">ようこそ<%= full_name(current_customer) %>さん</span>
                </li>

                <li class="nav-item">
                  <%= link_to "マイページ", customers_my_page_path(current_customer), class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>

                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>

                <li class="nav-item">
                  <%= link_to "カート", cart_items_path, class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>

                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>

              <% elsif %>
                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>

                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>

                <li class="nav-item">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>

                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary mx-3 my-1" %>
                </li>
              <% end %>
            </ul>
          </div>

      </nav>
  </header>
    <%= yield %>
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p></p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
